<?xml version="1.0"?>
<!--
/**
 * Copyright (c) <2017>, <Rugento.ru>
 * License URL https://www.rugento.ru/oferta.html
 * Support EMAIL support@rugento.ru
 */
-->
<config>
    <modules>
        <Rugento_Onestepcheckout>
            <version>4.2.20</version>
        </Rugento_Onestepcheckout>
    </modules>
    <global>
        <models>
            <onestepcheckout>
                <class>Rugento_Onestepcheckout_Model</class>
                <resourceModel>onestepcheckout_resource</resourceModel>
            </onestepcheckout>
            <onestepcheckout_resource>
                <class>Rugento_Onestepcheckout_Model_Resource</class>
                <entities>
                    <geoip>
                        <table>rugento_geoip</table>
                    </geoip>
                </entities>
            </onestepcheckout_resource>
            <customer>
                <rewrite>
                    <customer>Rugento_Onestepcheckout_Model_Customer_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <resources>
            <onestepcheckout_read>
                <connection>
                    <use>onestepcheckout</use>
                </connection>
            </onestepcheckout_read>
            <onestepcheckout_write>
                <connection>
                    <use>onestepcheckout</use>
                </connection>
            </onestepcheckout_write>
            <onestepcheckout_setup>
                <setup>
                    <module>Rugento_Onestepcheckout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onestepcheckout_setup>
        </resources>
        <blocks>
            <onestepcheckout>
                <class>Rugento_Onestepcheckout_Block</class>
            </onestepcheckout>
            <checkout>
                <rewrite>
                    <cart_sidebar>Rugento_Onestepcheckout_Block_Checkout_Cart_Sidebar</cart_sidebar>
                    <links>Rugento_Onestepcheckout_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <onestepcheckout>
                <class>Rugento_Onestepcheckout_Helper</class>
            </onestepcheckout>
        </helpers>
        <sales>
            <shipping>
                <carriers>
                    <onspickup>
                        <class>Rugento_Onestepcheckout_Model_Carrier_Pickup</class>
                    </onspickup>
                    <onscourier>
                        <class>Rugento_Onestepcheckout_Model_Carrier_Courier</class>
                    </onscourier>
                </carriers>
            </shipping>
        </sales>
        <fieldsets>
            <sales_copy_order_billing_address>
                <metro>
                    <to_order>*</to_order>
                </metro>
                <customer_region>
                    <to_order>*</to_order>
                </customer_region>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <metro>
                    <to_order>*</to_order>
                </metro>
                <customer_region>
                    <to_order>*</to_order>
                </customer_region>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <metro>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </metro>
                <customer_region>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </customer_region>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <metro>
                    <to_quote_address>*</to_quote_address>
                </metro>
                <customer_region>
                    <to_quote_address>*</to_quote_address>
                </customer_region>
            </sales_convert_order_address>
            <customer_address>
                <metro>
                    <to_quote_address>*</to_quote_address>
                </metro>
                <customer_region>
                    <to_quote_address>*</to_quote_address>
                </customer_region>
            </customer_address>
        </fieldsets>
        <onestepcheckout>
            <tab_field>tab1,tab2,tab3</tab_field>
        </onestepcheckout>
    </global>
    <frontend>
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Rugento_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <layout>
            <updates>
                <onestepcheckout module="onestepcheckout">
                    <file>onestepcheckout/onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rugento_Onestepcheckout>
                    <files>
                        <default>onestepcheckout/Rugento_Onestepcheckout.csv</default>
                    </files>
                </Rugento_Onestepcheckout>
            </modules>
        </translate>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <onestepcheckoutcevent>
                        <class>Rugento_Onestepcheckout_Model_Observer</class>
                        <method>setCommentOrder</method>
                    </onestepcheckoutcevent>
                </observers>
            </checkout_type_onepage_save_order_after>
            <payment_method_is_active>
                <observers>
                    <onestepcheckoutcevent_payment_check>
                        <class>Rugento_Onestepcheckout_Model_Observer</class>
                        <method>hasPaymentMethod</method>
                    </onestepcheckoutcevent_payment_check>
                </observers>
            </payment_method_is_active>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <onestepcheckoutcevent_add_msg>
                        <class>Rugento_Onestepcheckout_Model_Observer</class>
                        <method>initMsg</method>
                    </onestepcheckoutcevent_add_msg>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_layout_load_before>
                <observers>
                    <inchoo_controller_action_layout_load_before>
                        <class>Rugento_Onestepcheckout_Model_Observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </inchoo_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <onestepcheckout>
                <use>admin</use>
                <args>
                    <module>Rugento_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <onestepcheckout translate="title" module="onestepcheckout">
                        <title>Onestepcheckout</title>
                        <children>
                            <onestepcheckout_regions translate="title" module="onestepcheckout">
                                <title>Onestepcheckout region</title>
                                <action>onestepcheckout/adminhtml_region/regions</action>
                            </onestepcheckout_regions>
                            <onestepcheckout_methods translate="title" module="onestepcheckout">
                                <title>Onestepcheckout Additional</title>
                                <action>onestepcheckout/adminhtml_methods/index</action>
                            </onestepcheckout_methods>
                            <onestepcheckout_comparison translate="title" module="onestepcheckout">
                                <title>Onestepcheckout comparison</title>
                                <action>onestepcheckout/adminhtml_comparison/index</action>
                            </onestepcheckout_comparison>
                        </children>
                    </onestepcheckout>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <onestepcheckout module="onestepcheckout">
                    <file>onestepcheckout/onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onestepcheckout translate="title" module="onestepcheckout">
                                            <title>Onestepcheckout</title>
                                        </onestepcheckout>
                                    </children>
                                </config>
                                <onestepcheckout translate="title" module="onestepcheckout">
                                    <title>Onestepcheckout</title>
                                    <children>
                                        <onestepcheckout_regions translate="title" module="onestepcheckout">
                                            <title>Onestepcheckout region</title>
                                        </onestepcheckout_regions>
                                        <onestepcheckout_methods translate="title" module="onestepcheckout">
                                            <title>Onestepcheckout Additional</title>
                                        </onestepcheckout_methods>
                                        <onestepcheckout_comparison translate="title" module="onestepcheckout">
                                            <title>Onestepcheckout comparison</title>
                                        </onestepcheckout_comparison>
                                    </children>
                                </onestepcheckout>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Rugento_Onestepcheckout>
                    <files>
                        <default>onestepcheckout/Rugento_Onestepcheckout.csv</default>
                    </files>
                </Rugento_Onestepcheckout>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <onestepcheckout>
            <general>
                <lastname>2</lastname>
                <lastname_default>*</lastname_default>
                <email>2</email>
                <telephone>2</telephone>
                <show_comment>1</show_comment>
                <show_coupon>1</show_coupon>
                <show_review>1</show_review>
                <empty_shipping_text>Способы доставки будут доступны после заполнения адреса. Пожалуйста, заполните ваш адрес.</empty_shipping_text>
                <empty_payment_text>Способы оплаты будут доступны после выбора способа доставки. Пожалуйста, выберите способ доставки.</empty_payment_text>
            </general>
            <sorted_fields>
                <country>1</country>
                <region>2</region>
                <pickup>3</pickup>
                <postcode>4</postcode>
                <city>5</city>
                <street>6</street>
                <metro>7</metro>
            </sorted_fields>
            <other>
                <isChosenEnabled>1</isChosenEnabled>
                <phoneMaskEnabled>1</phoneMaskEnabled>
                <phonemask>(999) 999-99-99</phonemask>
                <postcode_help>http://www.russianpost.ru/rp/servise/ru/home/postuslug/searchops1</postcode_help>
            </other>
            <tab1>
                <active>1</active>
                <title>Зона доставки 1</title>
                <country>0</country>
                <region>2</region>
                <city>2</city>
                <street>2</street>
                <postcode>2</postcode>
            </tab1>
        </onestepcheckout>
        <payment>
            <onscash>
                <active>0</active>
                <model>Rugento_Onestepcheckout_Model_Payment_Cash</model>
                <title>Наличные при получении</title>
            </onscash>
            <onscashcourier>
                <active>0</active>
                <model>Rugento_Onestepcheckout_Model_Payment_Cashcourier</model>
                <title>Наличные курьеру</title>
            </onscashcourier>
        </payment>
        <carriers>
            <onspickup>
                <active>0</active>
                <model>Rugento_Onestepcheckout_Model_Carrier_Pickup</model>
                <title>Самовывоз</title>
                <name>Самовывоз</name>
            </onspickup>
            <onscourier>
                <active>0</active>
                <model>Rugento_Onestepcheckout_Model_Carrier_Courier</model>
                <title>Курьер</title>
                <name>Доставка курьером</name>
            </onscourier>
        </carriers>
    </default>
</config>
